body {
  margin: 0;
  height: 100vh;
  width: auto;
}

* {
  box-sizing: border-box;
}

.greenbox_container {
  background-color: lightgray;
  height: 30%;
  padding: 5px;
}
.green_box {
  border: 10px solid lightgreen;
  width: auto;
  height: 100%;
  padding-top: 120px;

  text-align: center;
  vertical-align: middle;
}

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
  height: 70%;
  width: auto;
}

.red_box {
    display: flex;
  border: 10px solid red;
  height: 98%;
  width: 700px;
  align-items: top;
      justify-content: center;
      padding-top: 15px;
}

.blue_box {
  display: flex;
  flex-direction: column;
  border: 10px solid blue;
  width: auto;
  width: 700px;
  height: 98%;
  margin-top: 5px;
}

.yellow_box {
  border: 10px solid yellow;
  height: 86%;
  margin: 8px;
}

.purple_box {
  padding-left: 30px;
  padding-top: 10px;

  border: 10px solid rgb(221, 83, 240);
  height: 10%;
  margin: 2px 8px 8px 8px;
  text-align: left;
}

/* .form-group{

width: 250px;
align-items: center;

} */

.wrapper{
    height: 100px;
    position: relative;
}